*{
    padding: 0;
    margin: 0;
}
.main-container{
   height: 100vh;
}

.middle-content-container{
    top: 15%;
    height:45%;
    display: flex;
    align-items: center;
    margin-top: 10%

}
.flex-content{
    width: 100%;
    height: 100%;
}
.google-image-container{
    width: 300px;
    margin: 0 auto;
}

.google-image{
    width: 100%;

}

.form-container{
    width: 550px;
    margin: 2.5vh auto;
}

.search-bar{
    width: 100%;
    display: block;
    height: 40px;
    margin: 0;
    border-radius: 20px;
    border: grey solid 1px;
    font-size: 1vw;
    box-sizing: border-box;
    padding-left: 1vw;
    outline: none;
}
.search-bar:hover{
    box-shadow: 1.5px 1.5px #e0e0e0;
}
.two-buttons-container{
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.button{
    font-size: 100%;
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 2px;
    height: 100%;
    padding: 2vh;
}

.header{
    height: 15%;
}

.header{
    display: flex;
    justify-content: right;
}

.other-pages{
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.page1,.page2{
    margin-right: 2vw;

}
.page1:hover{
    text-decoration: underline;
}
.page2:hover{
    text-decoration: underline;
}

.search-button{
    border: 1.5px solid transparent;
    margin-right: 20px;
    white-space: nowrap;
    font-size: 100%;

}
.lucky-button{
    border: 1.5px solid transparent;
    margin-left: 20px;
    white-space: nowrap;
}
.search-button:hover{
    border: 1.5px solid lightgray;
    cursor: pointer;
}
.lucky-button:hover{
    border: 1.5px solid lightgray;
    cursor: pointer;
  
}
@media (max-width: 950px){
    .other-pages{
        font-size: 30px;
    }
}
@media (max-width: 600px){
    .form-container{
        width: 450px;
    }
    .other-pages{
        font-size: 20px;
    }
}

@media (max-width: 450px){
    .google-image-container{
        width: 250px;
    }
    .form-container{
        width: 350px;
    }
    .button{
        padding: 2vw;
    }
}